<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{movie.title}} Details</title>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink="/movies"> Home</a>
                </li>
                <li>
                    <a routerLink="/mtype">Movies</a>
                </li>
                <li>
                    <a routerLink="/stype">TV Series</a>
                </li>
                <li>
                    <a routerLink="/searchyr">Search By Year</a>
                </li>
                <li>
                    <a routerLink="/searchgnr">Search By Genre</a>
                </li>
                <li>
                    <a href="LoginPage.html">SignOut</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{movie.title}}
                <small>Complete Details</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <div align="center">
        <a href="#">
            <img [src]="movie.poster" *ngIf="movie.poster" class="img-responsive" align="center" height="400px" width="400px">
        </a>
        <h2>Description</h2>
            <h4>Title: <small>{{movie.title}}</small></h4>
            <h4>Year: <small>{{movie.year}}</small></h4>
            <h4>Rated: <small>{{movie.rated}}</small></h4>
            <h4>Released: <small>{{movie.released}}</small></h4>
            <h4>Runtime: <small>{{movie.runtime}}</small></h4>
            <h4>Genre: <small>{{movie.genre}}</small></h4>
            <h4>Director: <small>{{movie.director}}</small></h4>
            <h4>Writers: <small>{{movie.writer}}</small></h4>
            <h4>Actors: <small>{{movie.actors}}</small></h4>
            <h4>Plot: <small>{{movie.plot}}</small></h4>
            <h4>Language: <small>{{movie.language}}</small></h4>
            <h4>Country: <small>{{movie.country}}</small></h4>
            <h4>Awards: <small>{{movie.awards}}</small></h4>
            <h4>MetaScore: <small>{{movie.metaScore}}</small></h4>
            <h4>IMDB Rating: <small>{{movie.imdbRating}}</small></h4>
            <h4>INDB Votes: <small>{{movie.imdbVotes}}</small></h4>
            <h4>IMDB Link:  <small> <a href="https://www.imdb.com/title/{{movie.imdbId}}" target="_blank">Go to IMDB Page</a></small></h4>
            <h4>Type: <small>{{movie.type}}</small></h4>
    </div>

    <div align="center">
        <a class="btn btn-warning" [routerLink]="['../update',movie.id]">Edit Movie</a>
    </div>
    <div align="center">
        <button class="btn btn-danger" (click)="deleteMovie()">Delete Movie</button>
    </div>

    <div align="left" *ngFor="let comnt of comments">
        <h4>User Comments: <small> {{comnt.comment}}</small></h4>
        <h4>User Rating: <small>{{comnt.rating}}</small></h4>
    </div>


        <form>
            <div class="form-gorup" >
                <label for="comment"> Add Comment</label>
                <input type="text" name="comment" [(ngModel)]="newComment.comment" required class="form-control" id="comment" placeholder="Add Your Comment">
                <label for="comment"> Add Rating</label>
                <input type="number" name="rating" [(ngModel)]="newComment.rating" min="1" max="5" required class="form-control" id="rating" placeholder="Add Your Rating">
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit" (click)="addComment()">Add Comment</button>
                </div>
            </div>
        </form>


    <!-- Footer -->
    <footer align="center">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; MovieFlix 2017</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

</body>
</html>